/* google font embed
================== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}

/* shared styles
============= */
 .text-45{
    font-size: 2rem;
    font-weight: 700;
 }
 .text-45-special{
    font-size: 2rem;
    font-weight: 500;
 }
 .text-18{
    font-size: 1rem;
    font-weight: 500;
 }
.text-64{
    font-size: 3rem;
    font-weight: 700;
}
.text-16{
    font-size: 0.9rem;
    font-weight: 400;
}
.text-20{
    font-size: 1.15rem;
    font-weight: 600;
}

.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}
.font-orange{
    color: #FF900E;
}
.font-white{
    color: white;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.common-margin{
    max-width: 1200px;
}
.second-margin{
    max-width: 1100px;
}
.display-flex{
    display: flex;
}
/* nav section style
================= */
.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    }
.common-button{
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    border: none;
}
/* banner section style
==================== */
.banner{
    margin: 0 auto;
    padding-bottom: 45px;
}
.banner-container{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.banner-img img{
    width: 100%;
}

/* quick list section style
======================== */
.quick-list-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    margin-top: 80px;
}
.img-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}
.img-collage img{
    width: 100%;
}
.quick-link-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

/* feature section style
===================== */
.feature-container{
    display: flex;
    margin: 0 auto;
    gap: 100px;
    margin-top: 100px;
    }
.feature-content{
    width: 50%;
    margin-top: 39px;
}
.bar-with-content{
    display: flex;
    gap: 20px;
}
.bar{
    width: 4px;
    height: 80px;
    background-color: #FF900E;
}
.bar-under-text{
    margin-top: 20px;
}
.feature-card-container{
    
}
.card{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 25px;
}
.feature-img-container{
    width: 50%;
    position: relative;
}
.feature-img img{
    width: 100%;
}
.feature-button{
    width: 250px;
    height: 120px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: -20px;
    left: -50px;
}

/* some fact section style
======================= */
.some-fact-container{
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 100px;
}
.some-fact-container h3{
    margin-bottom: 20px;
}

/* item card container section style
================================= */
.item-card-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.item-card{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px;

}
.item-card img{
    width: 25%;
    height: 25%;
}

/* our sponsors section style
========================== */
.our-sponsor-container{
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
.our-sponsor-content{
    text-align: center;
}
.our-sponsor-content h4{
    margin-bottom: 20px;
}
.our-sponsor-content p{
    margin-bottom: 40px;
}
.our-sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 180px;
}

/* footer section style
=========================== */
footer{
    margin: 0 auto;
    text-align: center;
    height: 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* media query or responsive styles
================================ */

/* responsive for nav and banner section
===================================== */
@media screen and (max-width: 576px) {
    .nav-bar{
        flex-direction: column;
        gap: 20px;
    }
    .banner-container{
        margin-top: 50px;
    }
    
    /* responsive for quick list section
    ================================= */
    .quick-list-container {
        flex-direction: column;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .img-collage {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-link-text-container {
        width: 100%;
        align-items: center;
        /* padding-left: 10px; */
        margin: 0 auto;
    }

    /* feature section style
    ===================== */
    .feature-container{
        flex-direction: column;
    }
    .feature-content{
        width: 100%;
    }
    .feature-img-container{
        width: 100%;
    }
    .feature-button{
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    /* some fact section style
    ======================= */
    .some-fact-container {
        padding-left: 10px;
    }

    /* item card container section style
    ================================= */
    .item-card-container{
      flex-wrap: wrap;
      gap: 20px;
    }

    /* our sponsors section style
    ========================== */
    .our-sponsor-img-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-left: 30px;
    }
   
}